.game__hero {
  margin-top: 15px;
}
.game__hero-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.game__hero-attack {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 30px;
}
.game__hero-attack-stat {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40px;
  height: 40px;
  background: url("../assets/game/block.svg");
  color: #ffffff;
}
.game__hero-attack-stat-num {
  font-size: 28px;
}
.game__hero-attack-stat-text {
  font-size: 10px;
}
.game__hero-main {
  position: relative;
  height: 219px;
  width: 150px;
}
.game__hero-main-border {
  position: absolute;
  z-index: -1;
}
.game__hero-main-img {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  z-index: -2;
}
.game__hero-main-img img {
  width: 100%;
  height: 100%;
}
.game__hero-main-stats {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding: 0 10px;
}
.game__hero-main-stats-hp, .game__hero-main-stats-shield {
  margin-top: 90px;
  margin-bottom: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 30px;
  color: #ffffff;
  -webkit-text-stroke: 8px #000;
  -webkit-text-fill-color: #fff;
}
.game__hero-main-stats-hp-number, .game__hero-main-stats-shield-number {
  position: relative;
}
.game__hero-main-stats-hp span, .game__hero-main-stats-shield span {
  position: absolute;
  left: 0;
  -webkit-text-stroke: 0px #000;
  -webkit-text-fill-color: #fff;
}
.game__hero-main-req {
  width: 100%;
}
.game__hero-main-req img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 13px;
  padding-left: 2px;
}
.game__hero-main-bar {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 100px;
  height: 10px;
  background: #ffffff;
  border: 2px solid #000;
  overflow: hidden;
}
.game__hero-main-bar-progress {
  position: absolute;
  top: 0;
  left: 0%;
  background: #e522aa;
  width: 100%;
  height: 10px;
  -webkit-transform: scaleX(50%);
          transform: scaleX(50%);
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}
.game__hero-main-bar-point {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: url("../assets/hero/progressPoint.svg");
  background-repeat: no-repeat;
  width: 25px;
  height: 25px;
  z-index: 0;
}
.game__hero-main-bar-text {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 16px;
  color: #fff;
  z-index: 1;
}
.game__hero-graces {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 30px;
}
.game__hero-graces-stat {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40px;
  height: 40px;
  background: url("../assets/game/block.svg");
  color: #ffffff;
}
.game__hero-graces-stat-num {
  font-size: 28px;
}
.game__hero-graces-stat-text {
  font-size: 10px;
}
.game__hero-graces-icon {
  margin-left: -4px;
}/*# sourceMappingURL=HeroStat.css.map */