.game {
	position: relative;
	width: 390px;
	height: 844px;
	border: 1px solid black;
	overflow: hidden;
	& &__bgc {
		position: absolute;
		z-index: -1;
	}

	& &__settings {
		position: absolute;
		top: 6%;
		left: 10%;
		transform: translate(-50%, -50%);
		cursor: pointer;
	}
}
