.game__main {
	position: relative;
	&-board {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		& img {
			cursor: pointer;
			&[data-select="0"] {
				opacity: 1;
			}
			&[data-select="1"] {
				opacity: 0.5;
			}
		}
	}
	&-frame {
		position: absolute;
		top: -10px;
		left: 5px;
		z-index: -1;
	}
	&-mask {
		position: absolute;
		width: 100%;
		height: 100%;
		z-index: 1;
		&[data-mymove="1"] {
			display: none;
		}
		&[data-mymove="0"] {
			display: block;
		}
	}
}

.test {
	width: 100px;
	height: 100px;
	background-color: black;
}
