.game__main {
	&-board {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		// &-pool {
		// 	display: flex;
		// 	justify-content: center;
		// 	align-items: center;
		// 	width: 45px;
		// 	height: 45px;
		// 	background-color: #ececec;
		// 	&--darker {
		// 		background-color: #d9d9d9;
		// 	}
		// }
	}
}
