.game__hero {
	position: relative;
	margin-top: 24px;
	&-perks {
		margin-left: auto;
		margin-right: auto;
		width: 291px;
		height: 125px;
		display: flex;
		justify-content: space-between;
		&-special {
			align-self: flex-end;
		}
		&-attack {
			align-self: flex-start;
		}
		&-effect {
			align-self: flex-end;
		}
	}
	&-stats {
		position: relative;
		width: 100%;
		&-bgc {
			position: relative;
			margin-top: -28px;
			&-img {
				display: block;
				margin-left: auto;
				margin-right: auto;
				padding-right: 2px;
			}
			&-hero {
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				border-radius: 50%;
				width: 90px;
				height: 90px;
				z-index: 1;
			}
		}
		&-charge {
			position: absolute;
			top: 21%;
			left: 50%;
			transform: translate(-50%, -50%);

			&-number {
				position: absolute;
				left: 50%;
				top: 27%;
				transform: translate(-50%, -50%);
				font-size: 18px;
				color: #e522aa;
				z-index: 2;
			}
		}
		&-info {
			position: absolute;
			left: 50%;
			top: 85%;
			transform: translate(-50%, -50%);
			width: 205px;
			display: flex;
			justify-content: space-between;
			color: #ffffff;
			font-size: 20px;
			&-hp {
				display: flex;
				justify-content: center;
				align-items: center;
				gap: 8px;
				color: #e52228;
			}
			&-shield {
				display: flex;
				justify-content: center;
				align-items: center;
				gap: 8px;
			}
		}
	}
	&-link {
		position: absolute;
		top: 57%;
		left: 50%;
		transform: translate(-50%, -50%);
		z-index: -2;
	}
	&-bgc1 {
		position: absolute;
		left: 0;
		bottom: 8px;
		z-index: -1;
	}
	&-bgc2 {
		position: absolute;
		right: 0;
		bottom: 15px;
		z-index: -1;
	}
}
