.game__enemy {
	margin-bottom: 18px;
	&-level {
		position: relative;
		margin-top: 30px;
		margin-bottom: 4px;
		&-bgc {
			display: block;
			margin-left: auto;
			margin-right: auto;
			width: auto;
			height: auto;
		}
		&-text {
			position: absolute;
			top: 46%;
			left: 50%;
			transform: translate(-50%, -50%);
			font-size: 20px;
			color: white;
			z-index: 1;
		}
	}
	&-main {
		display: flex;
		justify-content: center;
		gap: 16px;
		&-attack {
			display: flex;
			flex-direction: column;
			justify-content: flex-end;
			padding-bottom: 26px;
		}
		&-effect {
			display: flex;
			flex-direction: column;
			justify-content: flex-end;
			padding-bottom: 26px;
		}
		&-stats {
			position: relative;
			&-bgc {
				position: relative;
				&-img {
					position: absolute;
					border-radius: 50%;
					overflow: hidden;
					width: 150px;
					height: 150px;
					top: 5.5%;
					left: 6.5%;
				}
			}
			&-charge {
				position: absolute;
				left: 50%;
				top: 90%;
				transform: translate(-50%, -50%);
				width: 43px;
				height: 23px;
				background: #000000;
				color: #22e55d;
				border-radius: 50%;
				&-num {
					text-align: center;
					font-size: 16px;
				}
			}
			&-info {
				position: absolute;
				top: 70%;
				display: flex;
				justify-content: space-between;
				width: 100%;
				z-index: -1;
				color: #ffffff;
				font-size: 18px;
				&-hp {
					margin-left: 1px;
					position: relative;
					&-text {
						position: absolute;
						top: 40%;
						left: 21%;
						color: #e52228;
					}
				}
				&-shield {
					margin-right: 1px;
					position: relative;
					&-text {
						position: absolute;
						top: 40%;
						left: 45%;
					}
				}
			}
		}
		&-link {
			position: absolute;
			top: 0;
			z-index: -2;
		}
	}
}
